@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  motion: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Components/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  background-position: center;
  background-size: auto;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1000px) {
  .App {
    flex-direction: column;
    height: fit-content;
  }
}
